---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.vue";
import Footer from "../../components/Footer.vue";
import Banner from "../../components/Banner.vue";
import About from "../../components/About.vue";
import Works from "../../components/Works.vue";
import Contact from "../../components/Contact.vue";
import Marquee from "../../components/Marquee.vue";
import { menuContent, marqueeContent } from "../../../information";
const isEng = true;
---

<Layout title="Bruno Yu">
  <main class="dark:bg-dark-bg">
    <!-- 右下角功能導覽 -->
    <ul class="fixed z-10 right-0 2xl:right-5 bottom-5 w-[50px] h-[100px]">
      <li>
        <a href={menuContent[0].link} class="float_icons group block"
          ><span
            class="material-symbols-outlined text-5xl text-secondary group-hover:text-amber-400 dark:text-dark-purple dark:group-hover:text-dark-primary"
          >
            arrow_circle_up
          </span></a
        >
      </li>
      <li>
        <a href={menuContent[3].link} class="float_icons group block"
          ><span
            class="material-symbols-outlined text-5xl text-secondary group-hover:text-amber-400 dark:text-dark-purple dark:group-hover:text-dark-primary"
          >
            mail</span
          ></a
        >
      </li>
    </ul>
    <div class="bg-white dark:bg-dark-bg h-[5rem] lg:h-16"></div>
    <Navbar client:only menuContent={menuContent} isEng={isEng} />
    <Banner isEng={isEng} />
    <Marquee marqueeContent={marqueeContent} isEng={isEng} />
    <About client:only titleInfo={menuContent[1]} isEng={isEng} />
    <Marquee marqueeContent={marqueeContent} isEng={isEng} />
    <Works client:only titleInfo={menuContent[2]} isEng={isEng} />
    <Contact client:only titleInfo={menuContent[3]} isEng={isEng} />
    <Marquee marqueeContent={marqueeContent} isEng={isEng} />
    <Footer />
  </main>
</Layout>

<style lang="scss" scoped></style>
